<mat-form-field class="example-full-width font-light" floatLabel="never">

    <!-- Search input section -->
    <input class="font-light" type="text" matInput [placeholder]="'SEARCH_CONTROLLER.SEARCH_PLACEHOLDER' | translate"
        [(ngModel)]="searchKeyWord" (keyup)="triggerSearchEvent($event.target.value)">

    <!-- Button clear field  -->
    <button mat-button *ngIf="searchKeyWord" matSuffix mat-icon-button aria-label="Clear"
        (click)="searchKeyWord=''; triggerSearchEvent(searchKeyWord)">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>