<div class="page-wrapper">
    <div class="page-wrapper__content-wrapper">

        <!-- Navigation bar section -->
        <app-navigation-bar [right-side-template]="languageSelector"></app-navigation-bar>

        <!-- Main content section -->
        <div class="page-wrapper__content-wrapper__content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Language selector template -->
<ng-template #languageSelector>
    <select id="inputState" class="form-control" name="language" (change)="changeLanguage($event.target.value)">
        <option *ngFor="let language of languages" [value]="language">
            {{language.toUpperCase()}}
        </option>
    </select>
</ng-template>