@import '../../../../styles/variables/color.scss';
@import '../../../../styles/mixins/breakpoints.scss';

.page-wrapper {
  background-color: $primary-color-page-wrap;
  height: 100%;

  .page-wrapper__content-wrapper {
    max-width: 1140px;
    margin: auto;
    height: 100%;
    background-color: $primary-color-white;

    .page-wrapper__content-wrapper__content {
      height: calc(100% - 64px);
    }
  }
}

@include media-breakpoint-tablet-down() {
  .page-wrapper {
    .page-wrapper__content-wrapper {
      .page-wrapper__content-wrapper__content {
        height: auto;
      }
    }
  }
}
