@import '../../../../styles/mixins/breakpoints.scss';

:host {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  border: 1px solid #e0e0e0;
}

.item .item-status {
  width: 8px;
  background-color: green;
  flex: 0 0 auto;
}

.item .item-head,
.item .item-tail {
  flex: 0 0 auto;
  display: flex;
}

.item .item-body {
  flex: 1 1 auto;
}

.item .item-tail {
  flex: 0 0 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.medication-description {
  background-color: #f5f5f5;
  height: 0;
  padding: 0;
  display: none;

  &.expanded {
    display: block;
    height: auto;
    padding: 12px;
  }

  hr {
    margin: 12px 0;
    border: 0.5px dashed #707070;
  }
}

@include media-breakpoint-tablet-up() {
  .medication-description {
    .head {
      img {
        width: 60px;
      }
    }
  }
}

@include media-breakpoint-mobile-down() {
  .item {
    overflow-x: auto;
  }
}

.default {
  display: flex;
  padding: 20px;
}

*:focus {
  outline: none !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
