<item-control *ngFor="let item of transactions || []">
    <!--Head section-->
    <ng-template section="head">
        <div class="item-heading">
            <p class="item-heading__date">{{item?.dates?.valueDate | date : "MMM. d"}}</p>
            <img src="../../../../assets/images/icons/7-eleven.png">
        </div>
    </ng-template>

    <!--Body section-->
    <ng-template section="body">
        <div class="body-content">
            <h4 class="text-16-to-14-medium">{{ item?.merchant?.name }}</h4>
            <p class="text-16-to-14">{{ item?.transaction?.type }}</p>
        </div>
    </ng-template>

    <ng-template section="tail">
        <span class="item-price">-{{ item?.transaction?.amountCurrency?.currencyCode }}
            {{item?.transaction?.amountCurrency?.amount}}</span>
    </ng-template>
</item-control>