@import '../../../../styles/mixins/breakpoints.scss';

img {
  mix-blend-mode: multiply;
  width: 20px;
  height: 20px;
}

h4 {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 14px;

  &.sub-heading-panel {
    margin: 5px 0;
  }

  &.main-heading-panel {
    margin: 10px 0;
  }
}

.controller-wrapper {
  margin-bottom: 15px;
}

.item-list {
  max-height: 400px;
  overflow: auto;
}

@include media-breakpoint-large-desktop-up() {
  .sort-container {
    padding-left: 0px;
  }
}

@include media-breakpoint-medium-height() {
  .item-list {
    max-height: 500px;
  }
}
@include media-breakpoint-larger-height() {
  .item-list {
    max-height: 60vh;
  }
}
